*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**/target
**/*.iml
.idea
**/.idea
**/*.exe


client/.classpath
client/.project
client/.settings/
entities/.classpath
entities/.project
entities/.settings/
exceptions/.classpath
exceptions/.project
exceptions/.settings/
interceptors/.classpath
interceptors/.project
interceptors/.settings/
j2e/.classpath
j2e/.project
j2e/.settings/
utils/.classpath
utils/.project
utils/.settings/
wargenerator/.classpath
wargenerator/.project
wargenerator/.settings/
webservice/.classpath
webservice/.project
webservice/.settings/
